 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #000000;
           
        }
      

        .menu {
            width: 80%;
            margin: 0 auto;
            background-color: #490257;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        form{
            background-color: gray;
        }

        h1 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }
        h3{
            text-align: right;
        }

        .section {
            margin-bottom: 30px;
        }

        h2 {
            color: #007bff;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        .item {
            background-color: #f1f1f1;
            padding: 10px;
            border-radius: 5px;
        }

        .price {
            float: right;
            color: #28a745;
            font-weight: bold;
        }