.resolucio{
    width: 99%;
    text-align: center;
}

@media(max-width:767px){
    .desktop{
        display:none;
    }
    .tablet{
        display:none;
    }
}

@media(max-width:768) and  (max-width:990px){
    .desktop{
        display:none;
    }
    .movil{
        display:none;
    }
}

@media(max-width:991px){
    .movil{
        display:none;
    }
    .tablet{
        display:none;
    }
}



